$header-width: 23%;
$horizontal-padding: 2.5%;

body {
  padding: 0 $horizontal-padding;
}

#sidebar {
  width: $header-width;
  position: absolute;
}

#main {
  margin-left: $header-width + $horizontal-padding;
  padding-left: $horizontal-padding;
  border-left: 1px solid #ddd;
}
