$header-width: 24%;
$horizontal-padding: 3%;

body {
  padding: 0 $horizontal-padding;
}

#sidebar {
  width: $header-width;
  position: absolute;
  padding-right: $horizontal-padding;
}

#main {
  margin-left: $header-width + ($horizontal-padding * 2);
  padding-left: $horizontal-padding;
  border-left: 1px solid #ddd;
}
