#main-nav ul {
  font-size: $font-size;
  font-weight: $strong-font-weight;
  padding-left: 0;
  list-style-type: none;
}

.widget-title {
  margin-bottom: 0;
}

.widget {
  ul {
    margin-top: 0.5em;
    padding-left: 0;
    list-style-type: none;
  }

  li {
    padding-bottom: 6px;
  }
}
