@import "../../bower_components/highlightjs-scss/styles/github";

pre, code {
  font-family: Menlo, Consolas, Monaco, 'Lucida Console', monospace;
  font-size: 14px;
}

pre {
  padding: 16px;
  margin: 24px 14px;
}

code {
  padding: 6px 2px;
  background-color: $contrasting-background-color;
}


pre[class*="highlight"] {
    background-color: $contrasting-background-color;
    border: 1px solid darken($contrasting-background-color, 5%);
    color: $contrasting-font-color;
}
