$sidebar-width: 23%;
$horizontal-padding: 2.5%;

@mixin main-width($sidebar-width, $horizontal-padding) {
  width: 100% - $sidebar-width - ($horizontal-padding * 2);
}

body {
  padding: 40px $horizontal-padding;
  text-align: center;
}

#sidebar, #main {
  text-align: left;
  display: inline-block;
  box-sizing: border-box;
}

#sidebar {
  vertical-align: top;
  width: $sidebar-width;
}

#main {
  @include main-width($sidebar-width, $horizontal-padding);
  max-width: 720px;
  margin: 0 auto;
  padding-left: $horizontal-padding;
  margin-left: $horizontal-padding;
  border-left: 1px solid $border-color;
}

// Reduce sidebar size on large screens
@media #{$media-large-screen} {
  $large-screen-sidebar-width: 16%;
  $large-screen-horizontal-padding: 2%;

  #sidebar {
    width: $large-screen-sidebar-width;
  }

  #main {
    @include main-width($large-screen-sidebar-width, $large-screen-horizontal-padding);
    padding-left: $large-screen-horizontal-padding;
    margin-left: $large-screen-horizontal-padding;
  }
}

// Move the header to the top on smaller screens
@media #{$media-small-screen} {
  body {
    padding: 40px ($horizontal-padding * 2);
  }

  #sidebar {
    width: 100%;
    text-align: center;
  }

  #main {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    border-left: none;
  }
}
