$horizontal-padding: 6%;

body {
  padding: 20px $horizontal-padding;
  text-align: center;
  background-color: $background-color;
}

#main {
  padding: 15px 0;
  text-align: left;
  max-width: $content-max-width;
  margin: 0 auto;
}

#footer {
  border-top: 1px solid $border-color;
  padding-top: 30px;
  margin-top: 30px;
}

@media #{$media-small-screen} {
  body {
    padding: 30px ($horizontal-padding / 2);
  }
}
