$header-width: 23%;
$horizontal-padding: 2.5%;

body {
  padding: 0 $horizontal-padding;
}

#sidebar {
  width: $header-width;
  position: absolute;
}

#main {
  margin-left: $header-width + $horizontal-padding;
  padding-left: $horizontal-padding;
  border-left: 1px solid #ddd;
}

// Reduce sidebar size on large screens
@media (min-width: 1200px) {
  $large-screen-header-width: 15%;

  #sidebar {
    width: $large-screen-header-width;
  }

  #main {
    margin-left: $large-screen-header-width + $horizontal-padding;
  }
}

// Move the header to the top on smaller screens
@media (max-width: 767px) {
  #sidebar {
    width: 100%;
    position: static;
    text-align: center;
  }

  #main {
    margin-left: 0;
    padding-left: 0;
    width: 100%;
    border-left: none;
    clear: left;
  }
}
