// Site navigation
.menu {
  font-size: $font-size;
  padding-left: 0;
  list-style-type: none;
}

.menu-item {
  display: inline-block;
  margin: 0 18px;
}

.current-menu-item > a {
  border-bottom: 3px solid $border-color;
}

// Page and post navigation
.navigation-previous, .navigation-next {
  width: 50%;
}

.navigation-previous {
  float: right;
  text-align: right;
}

.navigation-next {
  float: left;
}

.post-navigation {
  padding: 40px 0;
}
