.post {
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.blog .post {
  border-bottom: 1px solid $border-color;
}

.post-meta {
  font-size: $aside-font-size;
}

.wp-caption-text {
  text-align: center;
  margin-top: 0;
  font-size: $aside-font-size;
}
