.menu {
  font-size: $font-size;
  font-weight: $strong-font-weight;
  padding-left: 0;
  list-style-type: none;

  $current-menu-border-width: 4px;
  $current-menu-border: $current-menu-border-width solid $border-color;

  .current-menu-item > a {
    border-bottom: $current-menu-border;
    padding-bottom: 2px;

    @media #{$media-large-screen} {
      border-bottom: none;
      border-left: $current-menu-border;
      padding: 0 0 0 4px;
      margin-left: -($current-menu-border-width + 4px);
    }
  }
}

.widget-title {
  margin-bottom: 0;
}

.widget {
  ul {
    margin-top: 0.5em;
    padding-left: 0;
    list-style-type: none;
  }

  li {
    padding-bottom: 6px;
  }
}

// Small screens
@media (max-width: 767px) {
  // Change to a vertical nav
  #main-nav li {
    display: inline-block;
    margin-left: 32px;

    &:first-child {
      margin-left: 0;
    }
  }

  // Hide widgets
  .widget {
    display: none;
  }
}
