.widget-title {
  margin-bottom: 0;
}

.widget {
  ul {
    margin-top: 0.5em;
    padding-left: 0;
    list-style-type: none;
  }

  li {
    padding-bottom: 6px;
  }
}

// Hide widgets on small screens
@media #{$media-small-screen} {
  .widget {
    display: none;
  }
}
