$heading-line-height: 1.3;

body {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: $aside-font-size;
  font-weight: $font-weight;
  line-height: 1.6;
  color: $font-color;
}

#main {
  font-size: $font-size;
}

h1, h2, h3, h4 {
  font-weight: $font-weight;
  line-height: $heading-line-height;
  color: $heading-color;
}

a, a:visited {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
  }
}

b, strong {
  font-weight: $strong-font-weight;
}

#logo {
  font-family: 'The Girl Next Door', cursive;
  font-size: 40px;
  line-height: $heading-line-height;
  text-decoration: none;
  color: $font-color;
}
