$background-color: rgb(255, 255, 255);

$font-color: rgb(64, 64, 64);
$font-weight: 300;
$strong-font-weight: 400;

$heading-color: rgb(16, 16, 16);
$link-color: #1abc9c;
$link-hover-color: darken($link-color, 12%);
