$background-color: #fcfdfe;
$border-color: darken($background-color, 10%);

$font-color: #2c3e50;
$font-weight: 300;
$strong-font-weight: 400;
$font-size: 20px;
$aside-font-size: 16.5px;

$heading-color: #34495e;
$link-color: #1abc9c;
$link-hover-color: darken($link-color, 12%);
