$content-max-width: 720px;

$background-color: #fcfdfe;
$border-color: darken($background-color, 10%);

$font-color: #2c3e50;
$font-weight: 300;
$strong-font-weight: 600;
$font-size: 20px;
$aside-font-size: 17px;

$heading-color: #34495e;
$link-color: #1abc9c;
$link-hover-color: darken($link-color, 12%);

$media-small-screen: "(max-width: 767px)";
$media-large-screen: "(min-width: 1200px)";
